@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
  --purple: #9d5dea;
  --lightPurple: #b691e3;
  --dark: #242326;
}

body {
  background-color: var(--dark);
  font-family: "Roboto Mono", monospace;
}

a {
  font-size: 15px;
  color: var(--purple);
  text-decoration: none;
}
a:hover {
  color: var(--lightPurple);
}

section {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.source {
  color: var(--purple);
  font-size: 10px;
}
