@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
  --purple: #9d5dea;
}

body {
  background-color: #242326;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
#mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px;
}

#mainWrapper > span {
  font-family: "Roboto Mono", monospace;
  color: var(--purple);
  text-align: center;
  font-size: 10px;
}

#secondWrapper > span {
  font-family: "Roboto Mono", monospace;
  color: var(--purple);
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

a {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  color: #9d5dea;
  display: flex;
  justify-content: flex-end;
}
a:hover {
  color: #b691e3;
}
a:link {
  text-decoration: none;
}
