@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --purple: #9d5dea;
  --dark: #242326;
  --lightPurple: #b691e3;
  --white: #dddddd;
  --tempWhite: #a8a1a1;
}
* {
  font-family: Poppins;
}
body {
  background-color: var(--white);
  transition: background 0.2s linear;
}
.darkBG {
  background-color: var(--dark) !important;
}
.whiteBG {
  background-color: var(--white) !important;
}
.dark {
  color: var(--dark) !important;
}

.white {
  color: var(--white) !important;
}
body.dark {
  background: var(--dark);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #0e0e0e;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
  height: 14px;
  width: 30px;
  transform: scale(1.5);
}

.label > .ball {
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.themeIconSun {
  position: absolute;
  right: 3px;
  width: 10px;
  height: 10px;
}

.themeIconMoon {
  position: absolute;
  left: 3px;
  width: 9px;
  height: 9px;
}

.mainWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}
#container {
  height: 450px;
  flex-direction: column;
  margin-top: 260px;
}

#newyearsheader {
  display: flex;
  justify-content: center;
}

#newyearsheader > h1 {
  margin-top: 195px;
}

#section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
#section {
  color: var(--dark);
}
article {
  height: 120px;

  margin: 0% 5%;
  font-size: 12px;
}
#daysBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#daysBox > p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 25px;
}
#daysBox > div {
  margin-top: 35px;
}

#hoursBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#hoursBox > p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 25px;
}
#hoursBox > div {
  margin-top: 35px;
}
#minutesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#minutesBox > p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 25px;
}
#minutesBox > div {
  margin-top: 35px;
}
#secondsBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#secondsBox > p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 25px;
}
#secondsBox > div {
  margin-top: 35px;
}

/* Styling */

.headline {
  color: var(--dark);
  font-size: 20px;
}

article > div {
  font-size: 15px;
}

select {
  display: absolute;
  top: 100%;
  left: 100%;

  border: none;
  color: var(--dark);
  font-size: 16px;
  background-color: transparent;
}
.line {
  font-size: 100%;
  font-weight: 600;
}

.sourcecode {
  position: absolute;
  top: 15px;
  right: 5px;
  line-height: 8px;
}

@media only screen and (max-width: 5000px) {
  .headline {
    font-size: 20px;
  }
  section {
    width: 400px !important;
  }
  article > div {
    font-size: 20px;
  }

  article > p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .headline {
    font-size: 20px;
  }
  section {
    width: 400px !important;
  }
  article > div {
    font-size: 20px;
  }

  article > p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .headline {
    font-size: 20px;
  }
  section {
    width: 200px !important;
  }
  article > div {
    font-size: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .headline {
    font-size: 18px;
  }
  section {
    width: 150px !important;
  }
  article > div {
    font-size: 12px;
  }

  article > p {
    font-size: 10px;
  }
}
