@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  word-break: word-break;
  color: var(--dark);
  transition: background 0.2s linear;
}

:root {
  --white: #dddddd;
  --tempWhite: #a8a1a1;
  --dark: #242326;
}
html,
body {
  background-color: var(--white);
}

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

select {
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  background-color: transparent;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  width: 100%;
  display: flex;
  align-items: left;
  position: relative;
  bottom: 15px;
  left: 15px;
}

.github {
  position: absolute;
  right: 5px;
  top: 5px;
}

.darkBG {
  background-color: var(--dark);
}
.whiteBG {
  background-color: var(--white);
}
.dark {
  color: var(--dark);
}

.white {
  color: var(--white);
}

.languageWhite {
  color: var(--white) !important;
  background-color: transparent;
}

.language {
  color: var(--dark);
  background-color: transparent;
}

.makiHeadlineEnglish {
  text-decoration: none;
  line-height: 100%;
  font-size: 223%;
  margin: 0;
}

.theme {
  position: relative;
}

body.dark {
  background: var(--dark);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #0e0e0e;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
  height: 14px;
  width: 30px;
  transform: scale(1.5);
}

.label > .ball {
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.themeIconSun {
  position: absolute;
  right: 3px;
  width: 10px;
  height: 10px;
}

.themeIconMoon {
  position: absolute;
  left: 3px;
  width: 9px;
  height: 9px;
}

.language {
  color: var(--dark);
}
.parent {
  margin: 100px 30px;

  height: 60%;
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.line {
  font-weight: 600;
  width: fit-content;
}

.firstImgs > ul,
.secondImgs > ul,
.thirdImgs > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.secondImgs {
  margin: 30px 0px;
}

.subHeadline {
  font-weight: 800;
  font-size: 24px;
  width: fit-content;
  text-align: right;
}

.top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.firstSectionTop {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.headline {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.makiHeadline {
  font-size: 223%;
}

.maki {
  text-decoration: none;
  font-weight: 700;
}

.projects {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.secondSectionTop {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: right;

  width: 100%;
  height: auto;
}

.whitespace {
  width: 100%;
  height: 100%;
}

.bottom {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.firstSectionBottom {
  width: 50%;
  height: 100%;
}
.firstRow {
  margin-bottom: 9px;
  width: fit-content;
}

.imgs {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
span {
  width: auto;
}
.secondSectionBottom {
  width: 50%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  text-align: right;
  width: auto;
  height: auto;
}

.contact {
  text-align: right;
  width: auto;
  height: auto;

  word-break: break-all;
}
#underContact {
  line-height: 100%;
}
a {
  text-decoration: underline;
}

ul {
  width: fit-content;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 28px 0;
  width: fit-content;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.middleRow {
  margin: 30px 0px;
}

.logo {
  /*
  width: 129px;
  height: 143px;
  */
  width: 121.75px;
  height: 135px;
}

.skillsImg {
  width: 38px;
  height: 38px;
  margin-right: 20px;
  margin-bottom: 5px;
}
