@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #dddddd;
  --tempWhite: #a8a1a1;
  --dark: #242326;
}
html,
body {
  height: 100%;
  overflow: auto;
}

* {
  font-family: Poppins;
  word-break: word-break;
  color: var(--dark);
}

body {
  background-color: var(--white);
  transition: background 0.2s linear;
}

.mainContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;

  height: 43%;
  width: 45%;
}

.firstSection {
  width: 460px;
}

.secondSection {
  width: 80px;
}

.thirdSection {
  width: 300px;
  text-align: right;
}

a {
  text-decoration: underline;
}

li {
  list-style-type: none;
}
.makiHeadline {
  text-decoration: none;
  line-height: 100%;
  font-size: 223%;
  margin: 0;
}
.subHeadline {
  font-size: 24px;
  font-weight: 800;
}
.line {
  font-size: 100%;
  font-weight: 600;
}

.logo {
  /*
  width: 129px;
  height: 143px;
  */
  width: 43.75%;
  height: 43.7%;
}

.firstSectionThirdColumn {
  display: flex;
  justify-content: flex-end;
}

.firstSectionFirstColumn {
  margin-bottom: 57px;
}

.secondSectionFirstColumn {
  margin-bottom: 72px;
}

.maki {
  text-decoration: none;
  margin: 0;

  font-weight: 700;
}

.secondSectionThirdColumn {
  height: 180px;
}

.secondSectionThirdColumnEnglish {
  height: 158px;
}

.about {
  margin-bottom: 96px;
}
select {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  font-size: 16px;
}
.github {
  position: absolute;
  top: 15px;
  right: 5px;
  line-height: 8px;
}

.skillsImg {
  width: 33px;
  height: 33px;
  margin-right: 20px;

  margin-bottom: 28px;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.liFirstRow {
  margin-top: 29px;
  margin-bottom: 0px !important;
}

.underHeadline {
  font-size: 100%;
}

.makiHeadlineEnglish {
  text-decoration: none;
  line-height: 100%;
  font-size: 223%;
  margin: 0;
}

.theme {
  position: absolute;
  bottom: 10px;
  left: 15px;

  box-sizing: border-box;
}
.darkBG {
  background-color: var(--dark);
}
.whiteBG {
  background-color: var(--white);
}
.dark {
  color: var(--dark);
}

.white {
  color: var(--white);
}

.language {
  color: var(--dark);
  background-color: transparent;
}

.languageWhite {
  color: var(--white);
  background-color: transparent;
}

body.dark {
  background: var(--dark);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #0e0e0e;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
  height: 14px;
  width: 30px;
  transform: scale(1.5);
}

.label > .ball {
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.themeIconSun {
  position: absolute;
  right: 3px;
  width: 10px;
  height: 10px;
}

.themeIconMoon {
  position: absolute;
  left: 3px;
  width: 9px;
  height: 9px;
}
@media only screen and (max-width: 1920px) {
  .github {
    position: absolute;
    top: 15px;
    right: 5px;
    line-height: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .mainContainer {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    width: 25%;
  }
}
@media only screen and (max-width: 450px) {
  .mainContainer {
    width: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .mainContainer {
    width: 5%;
  }
  .firstSectionThirdColumn {
    width: 80%;
  }
  .firstSectionThirdColumn > img {
    width: 70%;
  }
  .secondSectionThirdColumn {
    width: 80%;
  }
  .thirdSectionThirdColumn {
    width: 85%;
    word-wrap: break-word;
    font-size: 90%;
  }
}
@media only screen and (max-width: 425px) {
  .mainContainer {
    min-height: 105vh;
    width: 10%;
  }
  .firstSectionThirdColumn {
    width: 85%;
  }
  .firstSectionThirdColumn > img {
    width: 85%;
  }
  .secondSectionThirdColumn {
    width: 80%;
  }
  .thirdSectionThirdColumn {
    width: 85%;
    word-wrap: break-word;
    font-size: 80%;
  }
}

@media only screen and (max-width: 375px) {
  .mainContainer {
    min-height: 135vh;
    width: 5%;
  }
  .firstSectionThirdColumn {
    width: 85%;
  }
  .firstSectionThirdColumn > img {
    width: 85%;
  }
  .secondSectionThirdColumn {
    width: 80%;
  }
  .thirdSectionThirdColumn {
    width: 85%;
    word-wrap: break-word;
    font-size: 80%;
  }
  .github {
    position: relative;
    top: 5px;
    left: 200px;
    line-height: 8px;
  }
  .language {
    position: relative;
    top: 5px;
    right: 5px;
  }

  .theme {
    position: relative;
    bottom: 5px;
    right: -5px;
  }
}

@media only screen and (max-width: 360px) {
  .mainContainer {
    min-height: 115vh;
    width: -5%;
  }
  section {
    margin-right: 0;
  }
  .firstSectionThirdColumn {
    width: 80%;
  }
  .firstSectionThirdColumn > img {
    width: 80%;
  }
  .secondSectionThirdColumn {
    width: 75%;
  }
  .thirdSectionThirdColumn {
    width: 80%;
    word-wrap: break-word;
    font-size: 80%;
  }
  .github {
    position: relative;
    top: 5px;
    left: 200px;
    line-height: 8px;
  }
  .language {
    position: relative;
    top: 5px;
    right: 5px;
  }

  .theme {
    position: relative;
    bottom: 5px;
    right: -5px;
  }
}
